<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">Cake</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">View Cakes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add Cake</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4">Glorious Cakes!</h1>
    <p class="lead">All the best cakes</p>
</div>